In [171]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

%matplotlib inline

In [172]:
df = pd.read_csv("data/african_crises.csv", sep=';')
df.head()

,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

### 1 - L inventaire des variables

In [173]:
df.describe()

,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises
count,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1.059000e+03,1059.000000,1059.000000,1059.000000
mean,1967.767705,0.077432,43.140831,0.039660,0.152975,0.006402,2.084889e+04,0.776204,0.132200,0.129367
std,33.530632,0.267401,111.475380,0.195251,0.360133,0.043572,6.757274e+05,0.416984,0.349847,0.335765
min,1860.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.850214e+01,0.000000,0.000000,0.000000
25%,1951.000000,0.000000,0.195350,0.000000,0.000000,0.000000,2.086162e+00,1.000000,0.000000,0.000000
50%,1973.000000,0.000000,0.868400,0.000000,0.000000,0.000000,5.762330e+00,1.000000,0.000000,0.000000
75%,1994.000000,0.000000,8.462750,0.000000,0.000000,0.000000,1.164405e+01,1.000000,0.000000,0.000000
max,2014.000000,1.000000,744.306139,1.000000,1.000000,0.400000,2.198970e+07,1.000000,2.000000,1.000000

### 2 - Les 3 mod√®les sont :

-Regression Logistique
-Random Forest
-Gradient Boosting

### 3 -

In [174]:
df['country'] = df['country'].str.strip().str[:2]
df['country']

0       Al
1       Al
2       Al
3       Al
4       Al
5       Al
6       Al
7       Al
8       Al
9       Al
10      Al
11      Al
12      Al
13      Al
14      Al
15      Al
16      Al
17      Al
18      Al
19      Al
20      Al
21      Al
22      Al
23      Al
24      Al
25      Al
26      Al
27      Al
28      Al
29      Al
        ..
1029    Zi
1030    Zi
1031    Zi
1032    Zi
1033    Zi
1034    Zi
1035    Zi
1036    Zi
1037    Zi
1038    Zi
1039    Zi
1040    Zi
1041    Zi
1042    Zi
1043    Zi
1044    Zi
1045    Zi
1046    Zi
1047    Zi
1048    Zi
1049    Zi
1050    Zi
1051    Zi
1052    Zi
1053    Zi
1054    Zi
1055    Zi
1056    Zi
1057    Zi
1058    Zi
Name: country, Length: 1059, dtype: object

### 4 - La proportion des crises

In [175]:
df.groupby(['country'])['banking_crisis'].describe()

        count unique        top freq
country
Al         85      2  no_crisis   81
An         77      2  no_crisis   70
Ce         58      2  no_crisis   39
Eg        155      2  no_crisis  144
Iv         63      2  no_crisis   59
Ke         67      2  no_crisis   59
Ma         68      2  no_crisis   67
Mo         75      2  no_crisis   73
Ni         60      2  no_crisis   49
So        114      2  no_crisis  111
Tu         75      2  no_crisis   70
Za         72      2  no_crisis   68
Zi         90      2  no_crisis   75

In [176]:
#Dumnification
to_dumnify = ['currency_crises', 'inflation_crises', 'systemic_crisis']
X = df[features]

In [177]:
X = pd.get_dummies(X, columns=to_dumnify)
X.head()

,exch_usd,inflation_annual_cpi,currency_crises_0,currency_crises_1,currency_crises_2,inflation_crises_0,inflation_crises_1,systemic_crisis_0,systemic_crisis_1
0,0.052264,3.441456,1,0,0,1,0,0,1
1,0.052798,14.149140,1,0,0,1,0,1,0
2,0.052274,-3.718593,1,0,0,1,0,1,0
3,0.051680,11.203897,1,0,0,1,0,1,0
4,0.051308,-3.848561,1,0,0,1,0,1,0

In [178]:
df['banking_crisis']=df['banking_crisis'].apply(lambda x:0 if (x=='no_crisis') else 1)
df['banking_crisis'].head()

0    1
1    0
2    0
3    0
4    0
Name: banking_crisis, dtype: int64

In [179]:
features = ['exch_usd', 'inflation_annual_cpi', 'currency_crises', 'inflation_crises', 'systemic_crisis']
y = df['banking_crisis']

In [180]:
from sklearn.model_selection import cross_val_score, train_test_split

In [181]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

## Modele de Regression Logistique

In [182]:
from sklearn.linear_model import LogisticRegression

In [183]:
model = LogisticRegression()
model.fit(X_train, y_train)

C:\Users\mdele\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [184]:
y_predicted = model.predict(X_test)
#Calcul du score
score = model.score(X_test, y_test)
score

0.9779874213836478

In [185]:
from sklearn import metrics

In [186]:
#Calcul de precision
precision = metrics.precision_score(y_test, y_predicted)
precision

0.90625

In [187]:
#Calcul du rappel
recall = metrics.recall_score(y_test, y_predicted)
recall

0.8787878787878788

## Modele de RANDOM FOREST

In [188]:
from sklearn.ensemble import RandomForestClassifier

In [189]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

C:\Users\mdele\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [190]:
y_predicted = model.predict(X_test)
#Calcul du score
score = model.score(X_test, y_test)
score

0.9748427672955975

In [191]:
#Calcul de precision
precision = metrics.precision_score(y_test, y_predicted)
precision

0.9310344827586207

In [192]:
#Calcul du rappel
recall = metrics.recall_score(y_test, y_predicted)
recall

0.8181818181818182

## Modele Gradient Boosting

In [193]:
from sklearn.ensemble import GradientBoostingClassifier

In [194]:
model = GradientBoostingClassifier(n_estimators=20, max_features=2, max_depth=2, random_state=0)
model.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=2,
                           max_features=2, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=20,
                           n_iter_no_change=None, presort='auto',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [195]:
y_predicted = model.predict(X_test)
#Calcul du score
score = model.score(X_test, y_test)
score

0.9685534591194969

In [196]:
#Calcul de precision
precision = metrics.precision_score(y_test, y_predicted)
precision

0.896551724137931

In [197]:
#Calcul du rappel
recall = metrics.recall_score(y_test, y_predicted)
recall

0.7878787878787878